* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.navBar ul {
    margin: 0px;
    padding: 0px;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin-block-end: 0;
    display: flex;
    justify-content: space-around;
}

.navBar {
    display: flex;
    background-color: #EBA357;
}

.navBar li {
    margin: 0px;
    list-style-type: none;
    padding: 5px;
}

.navBar a {
    display: flex;
    color: black;
    height: 50%;
    width: 97%;
    padding: 6px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

.main-nav li a:link {
    text-decoration: none;
}

ul {}

.main-nav li a:visited {
    color: #0075b2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150%;
    font-weight: 500;
    padding: 4px;
}


@media screen and (min-width: 390px) {
    .navBar {
        display: flex;
        background-color: #EBA357;
        justify-content: center;
    }

    .navBar li {
        margin: 0px;
        list-style-type: none;
        padding: 5px;
    }

    .navBar a {
        display: inline-block;
        color: black;
        height: 50%;
        width: 97%;
        padding: 1.5vw;
        font-size: 3vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
    }

    .main-nav li a:link {
        text-decoration: none;
    }

    ul {}

    .main-nav li a:visited {
        color: #0075b2;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 150%;
        font-weight: 500;
        padding: 4px;
    }

}

body {
    background: rgba(245, 129, 76, 0.2);
    background: linear-gradient(225deg, rgba(245, 129, 76, 0.2) 0%, rgba(235, 163, 87, 0.31) 80%);
    background: -webkit-linear-gradient(225deg, rgba(245, 129, 76, 0.2) 0%, rgba(235, 163, 87, 0.31) 80%);
    background: -moz-linear-gradient(225deg, rgba(245, 129, 76, 0.2) 0%, rgba(235, 163, 87, 0.31) 80%);
}

h1 {
    background-color: #f39268ea;
    border-radius: 10px;
    width: fit-content;
    margin: 25px auto;
    padding: 15px;
    font-size: 9vw;
}

h2 {
    background-color: #DB3E2A;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    margin: 5% auto;
}

p {
    background-color: #EBA357;
    border-radius: 10px;
    width: fit-content;
    padding: 15px;
    margin: 15px;
}



iframe {
    width: 100%;
    border-radius: 5%;
    grid-column: 1 / 4;
}

@media only screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        align-items: center;
    }

    .us {
        grid-column: 3 / 3;
    }

}

footer ul {
    display: flex;
    justify-content: space-around;

}


footer ul img {
    max-height: 50px;
}

footer ul p {
    background-color: grey;
}