body {
    background-image: url(Images/pexels-atypeek-dgn-6036842.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:
}

@media screen and (max-width: 1024px) {
    img {
        left: 50%;
        margin-left: -512px;
        /* 50% */
    }
}